/* Estilos generales para asegurar que no haya barras de desplazamiento */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  
}
body.no-scroll {
  overflow: hidden; /* Evitar el desplazamiento de la página */
}
.home{
  overflow: hidden; /* Evita las barras de desplazamiento */
}
.container-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  
  width: 100%;
  height: 100%;
  padding-right:0;
}

/* Centrado del título */
.container-home h1 {
  font-size: 80px; /* Tamaño de la fuente */
  margin: 0; /* Eliminar márgenes para un mejor centrado */
  color: #333;
}

/* Centrado de la imagen */
.container-home .center-image {
  width: 100%;
  max-width: 900px; /* Tamaño máximo de la imagen */
  height: auto;
  margin: 20px 0; /* Espacio arriba y abajo de la imagen */
}

.user-info-home{
  text-align: center;    
}
.user-info-home p{
  display: inline-block;
  font-size: 16px;
  position: absolute;
  top: 30px;
  left: 1340px;

}

.social-buttons {
  display: flex;
  flex-direction: column; /* Stack buttons vertically */
  position: absolute; /* Position it to the right of the image */
  left: 1250px; /*posicion vertical de los botones sociales */
  top: 160px; /* Align to the top of the image */
}

.social-buttons button {
  background: none; /* Remove background */
  border: none; /* Remove border */
  margin-bottom: 5px; /* Space between buttons */
  cursor: pointer; /* Change cursor on hover */
}

.social-buttons button:last-child {
  margin-bottom: 0; /* No margin on the last button */
}

.header-buttons {
  display: flex; /* Usar flexbox para alinear los botones */
  align-items: center; /* Centrar verticalmente los botones */
  
}

.header-buttons > * {
  margin-right: 15px; /* Espaciado entre los botones */
}

/* Opcional: Eliminar el margen derecho del último botón */
.header-buttons > :last-child {
  margin-right: 0; /* Sin margen derecho en el último botón */
}
