.detalle-pedido-container {
    background-color: rgba(255, 255, 200, 0.8);
    padding: 20px;
    border-radius: 8px;
  }
  
  .titulo-logo-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .titulo-logo-container h2 {
    margin-left: 10px;
    color: #4c4c00; /* Color del texto del encabezado */
  }
  .detalle-pedido-container2 {
    background-color: rgba(255, 255, 200, 0.8);
    padding: 200px;
    border-radius: 8px;
  }
  
  .titulo-logo-container2 {
    display: flex;
    position: absolute;
    left:640px;
    align-items: center;
    
  }
  .titulo-logo-container2 h2 {
    
    color: #4c4c00; /* Color del texto del encabezado */
  }
  
  .detalle-tabla {
    width: 100%;
    border-collapse: collapse;
  }
  
  .detalle-tabla th {
    background-color: #fff200; /* Encabezados amarillos */
    padding: 10px;
    /* text-align: left; */
  }
  
  .detalle-tabla td {
    background-color: rgba(255, 255, 200, 0.8); /* Cuerpo amarillo claro */
    padding: 10px;
  }
  
  .total-container {
    margin-top: 20px;
  }
  
  .botones-container {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    
  }
  
  .finalizar-btn,
  .cancelar-btn {
    background-color: #fff200; /* Color del botón */
    color: #4c4c00; /* Color del texto del botón */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .finalizar-btn:hover,
  .cancelar-btn:hover {
    background-color: #e6e600; /* Efecto hover */
  }
  .volver-btn-detalle{
    background-color: #fff200; /* Color del botón */
    color: #4c4c00; /* Color del texto del botón */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 1420px;
  }
  .volver-btn-detalle:hover{
    background-color: #e6e600; /* Efecto hover */
  }
  td button {
    background-color: #fff200; /* Color del botón */
    color: #4c4c00; /* Color del texto del botón */
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin: 0 5px;
    border-radius: 5px;
  }
  
  
  
  h3{
    background-color: #fff200;
    padding: 10px;

}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.modal-buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal-buttons button:hover {
  opacity: 0.8;
}
