/* src/Login.css */
.login-container {
  display: flex;
  flex-direction: column; /* Organiza los elementos en columna */
  align-items: center; /* Centra los elementos horizontalmente */
  justify-content: center; /* Centra los elementos verticalmente */
  height: 100vh; /* Altura completa de la ventana */
  text-align: center; /* Centra el texto */
} 

.bi-person {
  margin-bottom: 40px; /* Espacio entre el logo y el título */
}

h1 {
  font-size: 32px; /* Tamaño del título */
  margin-bottom: 30px; /* Espacio entre el título y el formulario */
}

.login-container form {
  display: flex;
  flex-direction: column; /* Organiza los elementos del formulario en columna */
  width: 100%; /* Ancho del formulario */
  align-items: center; /* Centra los inputs y el botón */
}

.login-container form div {
  margin-bottom: 15px; /* Espacio entre los inputs */
  max-width: 400px; /* Máximo ancho para evitar que crezca demasiado */
}

.input-group-login {
  position: relative; /* Permite posicionar el borde inferior */
  margin-bottom: 15px; /* Espacio entre los inputs */
  width: 100%; /* Asegura que el input ocupe el 100% del contenedor */
  max-width: 400px; /* Máximo ancho para mantener proporción */
}

.input-group-login label {
  display: block; /* Asegura que el label se comporte como bloque */
  text-align: left; /* Alinea el texto a la izquierda */
  margin-bottom: 5px; /* Espacio entre el label y el input */
}

.input-group-login input {
  padding: 10px; /* Espaciado interno */
  border: none; /* Sin borde */
  border-bottom: 1px solid #cecece; /* Borde inferior del input */
  width: 100%; /* Ancho completo */
  outline: none; /* Elimina el contorno por defecto */
  background: none;
}

button {
  padding: 10px; /* Espaciado interno para el botón */
  background-color: #72787e; /* Color de fondo del botón */
  color: rgb(0, 0, 0); /* Color del texto del botón */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  max-width: 200px; /* Asegura que el botón no crezca demasiado */
  margin-bottom: 10px;
}

.login-container.register-prompt {
  margin-top: 15px; /* Espacio encima de la frase de registro */
}

/* Media queries para pantallas más pequeñas */
@media (max-width: 768px) {
  h1 {
    font-size: 24px; /* Reduce el tamaño del título */
  }

  form div {
    width: 100%; /* Ancho completo en pantallas pequeñas */
  }

  button {
    width: 100%; /* Botón ocupa todo el ancho */
  }
}

@media (max-width: 480px) {
  .bi-person {
    margin-bottom: 20px; /* Reduce el espacio en pantallas muy pequeñas */
  }

  h1 {
    font-size: 20px; /* Reduce más el tamaño del título */
  }

  form div {
    margin-bottom: 10px; /* Reduce el espacio entre los inputs */
  }

  button {
    width: 100%; /* Botón ocupa todo el ancho */
    padding: 8px; /* Reduce el padding en pantallas pequeñas */
  }
}
